@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* その他のスタイルは以下に記述していきます */

/*------------------------*/
/*   　　共通のスタイル    */
/*------------------------*/

a {
    color: #000;
    text-decoration: none;
}

.common-btn {
    display: block;
    width: 203px;
    height: 71px;
    line-height: 71px;
    background: #fff;
    text-align: center;
    font-size: 21px;
    font-family: PT Serif;
}

/*------------------------*/
/*         header         */
/*------------------------*/

.header-log {
    font-size: 36px;
    font-family: Monotype Corsiva;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

.header-wrap {
    font-family: Monotype Corsiva;
    background: #FF9900;
    height: 30px;
    position: relative;
}

.header-nav-list {
    display: flex;
}

.header-nav-list a {
    color: #fff;
}

.header-nav-item-first {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.header-nav-item-second {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}

/*------------------------*/
/*        firstview       */
/*------------------------*/

.firstview {
    display: flex;
}

.firstview-left {
    height: 863px;
    width: 50%;
    background: url(../img/picture2.jpg) no-repeat center/cover;
    position: relative;
}

.left-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.firstview-right {
    height: 863px;
    width: 50%;
    background: url(../img/picture1.jpg) no-repeat center/cover;
    position: relative;
}

.right-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*------------------------*/
/*       secondview       */
/*------------------------*/

.secondview {
    display: flex;
    position: relative;
}

.secondview-left {
    width: 50%;
    height: 863px;
}

.secondview-left-wrap {
    margin: 37% 0;
    position: relative;
}

.secondview-left-ttl {
    font-size: 30px;
    font-family: Orienta;
    text-align: center;
}

.secondview-left-txt {
    font-size: 18px;
    font-family: Noto Sans TC;
    justify-content: center;
    text-align: center;
    line-height: 1.4;
    margin-top: 40px;
}

.secondview-left-btn {
    background: #000;
    color: #fff;
    margin: 70px auto;
}

.secondview-right {
    width: 50%;
    height: 863px;
    background: url(../img/picture3.jpg) no-repeat center/cover;
}

/*------------------------*/
/*        accessory       */
/*------------------------*/

.accessory {
    display: flex;
}

.glasses {
    height: 863px;
    width: 50%;
    background: url(../img/picture4.jpg) no-repeat center/cover;
    position: relative;
}

.glasses-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.necklace {
    height: 863px;
    width: 50%;
    background: url(../img/picture5.jpg) no-repeat center/cover;
    position: relative;
}

.necklace-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*------------------------*/
/*         junior         */
/*------------------------*/

.junior {
    height: 863px;
    width: 100%;
    background: url(../img/picture6.jpg) no-repeat center/cover;
    position: relative;
}

.junior-btn {
    width: 320px;
    height: 67px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*------------------------*/
/*        contact         */
/*------------------------*/

.space-contact {
    width: 100%;
    height: 33px;
}

.contact {
    width: 100%;
    height: 830px;
    background: #f6f6f6;
}

.contact-ttl {
    font-size: 40px;
    text-align: center;
    padding: 31px 0;
    margin-bottom: 53px;
}

.contact-form-item {
    margin: 0 10%;
}

.contact-form-item:not(:first-child) {
    margin-top: 37px;
}

.contact-form-item-name {
    font-size: 24px;
}

.contact-form-item-input {
    width: 100%;
    font-size: 24px;
}

.contact-form-item-textarea {
    width: 100%;
    resize: none;
}

.contact-form-submit {
    margin: 37px auto 0;
    border: none;
    cursor: pointer;
}

/*------------------------*/
/*         footer         */
/*------------------------*/

.footer {
    height: 93px;
    background: #fff;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin-left: 190px;
    font-size: 25px;
    font-family: Monotype Corsiva;
}

.footer-nav-list {
    display: flex;
    font-size: 15px;
    margin-right: 190px;
}

.footer-nav-item:after {
    content: "|";
    display: inline-block;
    padding: 0 10px;
}

li:last-child::after {
    content: none;
}



@media screen and (max-width: 768px) {
    .header-nav-list {
        display: block;
    }

    .header-nav-item-first {
        left: 50%;
    }

    .header-nav-item-second {
        display: none;
    }

    .firstview {
        display: block;
    }

    .firstview-left,
    .firstview-right {
        width: 100%;
        height: 650px;
    }

    .secondview {
        display: block;
    }

    .secondview-left,
    .secondview-right {
        width: 100%;
    }

    .space {
        height: 51px;
    }

    .space-btn {
        top: 50%;
    }

    .accessory {
        display: block;
    }

    .glasses,
    .necklace {
        width: 100%;
        height: 650px;
    }

    .glasses-btn,
    .necklace-btn {
        top: 87%;
    }

    .junior {
        height: 400px;
    }

    .footer a {
        left: 30%;
    }
    
}